Package: usb-control
Version: @VERSION@
Section: admin
Priority: optional
Architecture: arm64
Maintainer: Andisec <support@andisec.local>
Description: USB security control device server
 Offline server package for RK3568 USB security control device.
